
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom
.glyphicon { margin-right:10px; }
.panel-body.documentation { padding:0px; }
.panel-body.documentation table tr td { padding-left: 15px }
.panel-body.documentation .table {margin-bottom: 0px; }

a.documentation { text-decoration: none;}